@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../assets/lato/Lato-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../assets/lato/Lato-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(../assets/lato/Lato-Black.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenPro-Regular'), url(../assets/maven-pro/MavenPro-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
	height: 1732px;
	width: 1020px;
	color: white;
	margin: 0 auto;
}
.header	{
	height: 65px;
	width: 100%;
	background-color: #323232;
	margin-left: 0;
}
h1 {
	display: none;
}
a {
	text-decoration: none;
}
A {
	color: white;
}
A:visited {
	color: white;
}
A:active {
	color: white;
}
a#nav-portfolio {
	color: #2eb398;
}
.nav {
	color: white;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 7.2pt;
	text-align: center;
	position: relative;
	margin-right: 110px; 
	bottom: 160px;
	z-index: 10;
}
.portfolio-about, .blog-get {
	position: relative;
	bottom: 5px;
	display: inline-block;
	width: 123px;
	height: 8px;
}
.portfolio-about {
	left: 20px;
}
.nav-about:before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 1px;
	border-radius: 100%;
	background-color: #484c5f;
}
.nav-blog:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 1px;
	border-radius: 100%;
	background-color: #484c5f;
}
.blog-get {
	left: 183px;
	bottom: 70px;
}
.nav-about, .nav-getintouch {
	margin-left: 20px;
}

.nav-portfolio:hover, .nav-about:hover, .nav-blog:hover, .nav-getintouch:hover {
	font-weight: 900;
	cursor: pointer;
}
.logo-hex {
	position: relative;
	top: 43px;
	right: 8px;
	display: inline-block;
	width: 180px;
	height: 206px;
	transform: rotate(120deg);
	overflow: hidden;
	z-index: -1;
}
.logo-hex1 {
	width: 100%;
	height: 100%;
 	transform: rotate(-60deg);
 	overflow: hidden;
}
.logo-hex2 {
	width: 100%;
	height: 100%;
 	background-color: #323232;
  	overflow: hidden;
	transform: rotate(-60deg);
}
.triangle {
	position: relative;
	left: 478px;
	bottom: 38px;
	width: 64px;
	height: 55px;
	margin-right: 0;
	background-color: #323232;
}
.triangle1 {
	position: relative;
	left: 16px;
	width: 1px;
	height: 58px;
	transform: rotate(-30deg);
	background-color: #f5f5f5;
}
.triangle2 {
	position: relative;
	bottom: 64px;
	left: 44px;
	width: 1px;
	height: 30px;
	transform: rotate(71deg);
	background-color: #f5f5f5;
}
.triangle3 {
	position: relative;
	bottom: 88px;
	left: 45px;
	width: 1px;
	height: 58px;
	transform: rotate(30deg);
	background-color: #f5f5f5;
}
.triangle4 {
	position: relative;
	bottom: 152px;
	left: 16px;
	width: 1px;
	height: 30px;
	transform: rotate(-71deg);
	background-color: #f5f5f5;
}
.horizontal-line, .horizontal-line-2 {
	position: relative;
	top: 11px;
	width: 410px;
	height: 1px;
	background-color: #e4e9eb;
}
.horizontal-line {
	margin-left: 25px;
}
.horizontal-line-2 {
	margin-left: 580px;
}
.vertical-line, .vertical-line-2, .vertical-line-3, .vertical-line-4 {
	display: inline-block;
	position: relative;
	width: 1px;
	height: 104px;
	background-color: #e4e9eb;
}
.vertical-line, .vertical-line-2 {
	left: 100px;
}
.vertical-line, .vertical-line-3 {
	top: 142px;
}
.vertical-line-2, .vertical-line-4 {
	top: 480px;
}
.vertical-line-3, .vertical-line-4 {
	left: 910px;
}
.long-horizontal-line, .long-horizontal-line2, .long-horizontal-line3 {
	width: 960px;
	height: 1px;
	margin: 0;
	margin-left: 30px;
}
.long-horizontal-line {
	position: relative;
	top: 599px;
	background-color: #e4e9eb;
}
.portfolio {
	position: relative;
	height: 722px;
	margin: 0 auto;
}
.hexagon {
	width: 182px;
	height: 209px;
	margin: 7px;
	transform: rotate(120deg);
	overflow: hidden;
	display: inline-block;
}
.hexagon:hover {
	transform: rotate(180deg);
}
.hex-1 {
	width: 100%;
	height: 100%;
 	transform: rotate(-60deg);
 	overflow: hidden;
}
.hex-2 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer33@1X.png");
}
.hex-4 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer31@1X.png");
}
.hex-6 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer34@1X.png");
}
.hex-8 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer35@1X.png");

}
.hex-10 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer36@1X.png");
}
.hex-12 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer44@1X.png");
}
.hex-14 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer37@1X.png");
}
.hex-16 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer38@1X.png");
}
.hex-18 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer39@1X.png");
}
.hex-20 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer40@1X.png");
}
.hex-22 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer41@1X.png");
}
.hex-24 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer43@1X.png");
}
.hex-26 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Layer42@1X.png");
}
.first-row {
	position: relative;
	bottom: 30px;
	left: 5px;
	margin-left: 107px;
}
.second-row{
	position: relative;
	bottom: 90px;
	left: 12px;
}
.third-row {
	position: relative;
	bottom: 148px;
	left: 113px;
}
.square {
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #ddd2c5;
}
.chosen {
	background-color: #8b8784;
}
.squares {
	position: relative;
	bottom: 108px;
	display: inline-block;
	margin-left: 28px;
}
.image-hexagon {
	width: 180px;
	height: 206px;
	margin: 48px;
	transform: rotate(120deg);
	overflow: hidden;
	display: inline-block;
	position: relative;
	bottom: 20px;
	left: 69px;
}
.image-hex1 {
	width: 100%;
	height: 100%;
 	transform: rotate(-60deg);
 	overflow: hidden;
}
.image-hex2 {
	width: 100%;
	height: 100%;
 	background-color: #ccc3;
  	overflow: hidden;
	transform: rotate(-60deg);
	background-image: url("../assets/Image@1X.png");
	background-position: 50% 50%; 
}
.about {
	position: relative;
	bottom: 110px;
	width: 100%;
	height: 343px;
	background-color: #2eb398;
	margin-top: 0;
}
.vertical-line-about, .vertical-line-about2 {
	display: inline-block;
	width: 1px;
	height: 316px;
	background-color: #219d84;
}
.vertical-line-about {
	position: relative;
	bottom: 230px;
	left: 101px;
}
.vertical-line-about2 {
	position: relative;
	bottom: 230px;
	left: 918px;
}
.about-all {
	position: relative;
	bottom: 290px;
	left: 312px;
	height: 160px;
	width: 580px;
}
.about-me {
	display: inline-block;
	height: 316px;
	margin-top: 40px;
}
.smith {
	font-family: 'Maven Pro', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: rgba(215, 252, 245, 255);
	text-align: justify;
	display: inline-block;
	letter-spacing: -1px;
}
.illustrator {
	font-family: 'Maven Pro', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: rgba(32, 129, 109, 255);
	text-align: justify;
	letter-spacing: -1px;
}
.about-smith{
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: rgba(215, 252, 245, 255);
	text-align: justify;
	width: 581px;
	height: 76px;
	line-height: 22px;
	margin-top: 14px;
}
.socials {
	display: flex;
	justify-content: flex-end;
	margin-top: 48px;
	height: 24px;
}
.icon-facebook, .icon-twitter, .icon-gplus, .icon-pinterest,.icon-linkedin, .icon-dribbble {
	position: relative;
	left: 3px;
	bottom: 2px;
	display: block;
	padding-top: 2px;
	height: 20px;
	width: 25px;
}
.icon-facebook {
	color: #00ab94;
	background-color: #a5dbd4;
}
.icon-twitter {
	color: #04ac95;
	background-color: #6ccbbe;
}
.icon-gplus {
	color: #17b29d;
	background-color: #7fd0c5;
}
.icon-pinterest {
	color: #21b5a1;
	background-color: #abddd7;
}
.icon-linkedin {
	color: #01ab94;
	background-color: #acded7;
}
.icon-dribbble {
	color: #0bae98;
	background-color: #6ccbbe;
}
.icon-facebook:hover, .icon-linkedin:hover {
	color: #ffffff;
	background-color: darkblue;
}
.icon-twitter:hover {
	color: #ffffff;
	background-color: lightblue;
}
.icon-gplus:hover, .icon-pinterest:hover {
	color: #ffffff;
	background-color: red;
}
.icon-dribbble:hover {
	color: #ffffff;
	background-color: pink;
}
.long-horizontal-line2 {
	position: relative;
	top: 10px;
	background-color: #2b2b2b;
}
.long-horizontal-line3 {
	position: relative;
	top: 550px;
	background-color: #2b2b2b;
}
.form {
	display: flex;
	height: 566px;
	width: 582px;
}
.fieldset {
	margin-top: 50px;
	max-width: 580px;
	margin-left: 103px;
	display: inline-block;
	border: none;
	letter-spacing: -1px;
}
.form-touch {
	font-family: 'Maven Pro', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 30px;
	color: rgba(224, 224, 224, 255);
	text-align: justify;
	letter-spacing: -1px;
}
.form-use {
	display: block;
	font-family: 'Maven Pro', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: rgba(190, 190, 190, 255);
	text-align: justify;
}
.input {
	display: block;
	width: 567px;
	height: 35px;
	background-color: #454545;
	color: #b1b1b1;
	border: 1px solid #454545;
	margin-top: 16px;
	padding-left: 13px;
	letter-spacing: -1px;
}
.input:hover:invalid {
	border-color: red;
}
.input:hover:valid {
	border-color: blue;
}
.input:focus {
	background-color: lightgray;
	color: white;
}
.textarea {
	height: 145px;
	width: 567px;
	background-color: #454545;
	margin-bottom: 15px;
	resize: none;
}
.send {
	position: relative;
	left: 495px;
	width: 90px;
	height: 37px;
	background-color: #2eb398;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: rgba(224, 224, 224, 255);
	text-align: center;
	border: none;
}
.send:hover {
	border: 1px solid #ffffff;
	text-shadow: 1px 1px 6px gray;
}
.footer {
	position: relative;
	bottom: 110px;
	background-color: #323232;
	height: 605px;
}
.block-cont {
	margin-top: 70px;
	margin-left: 10px;
}
.contacts {
	position: relative;
	top: 35px;
	line-height: 20px;
}
.contacts2 {
	display: block;
	height: 54px;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: rgba(190, 190, 190, 255);
	text-align: justify;
	padding: 0;
}
.icon-location:before {
	content: '\f031';
	color: #2eb398;
	padding-right: 10px;
}
.icon-mail:before {
	content: '\e800';
	color: #2eb398;
	padding-right: 10px;
}
.icon-phone:before {
	content: '\e801';
	color: #2eb398;
	padding-right: 10px;
}
.contacts li {
	list-style: none;
}
.blockquote {
	font-family: ﻿'Lato', ﻿'Arial', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: rgba(224, 224, 224, 255);
	text-align: justify;
	margin-top: 55px;
	width: 180px;
	height: 117px;
	text-align: justify;
	line-height: 25px;
}
.block-words {
	font-weight: 700;
}
blockquote {
	margin: 0;
}
.copyright {
	height: 43px;
	background-color: #222222;
}
.copy-by {
	font-family: 'Maven Pro', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 8.5px;
	color: rgba(69, 69, 69, 255);
	text-align: justify;
	display: inline-block;
	margin-left: 36px;
	margin-right: 360px;
}